@import "tailwindcss";

*{

  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit";
}

body{
  background-repeat: no-repeat;
  
  /* margin-left: 10%;
  margin-right: 10%; */
  overflow-x: hidden;
}

.Home{
  background: linear-gradient(rgba(9, 9, 121, 0.603),rgba(10, 10, 105, 0.466) ), url('./assets/hero.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

.Navbar{
  backdrop-filter: blur(30px);
  background: rgba(63, 62, 62, 0.322);
}

